.about {
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	gap: 2rem;
}

.about p {
	color: var(--gray-color);
}

.about h1 {
	color: var(--dark-color);
}

.about h1 span {
	font-weight: 300;
}
