.search_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.search_container h2 {
	margin-bottom: 2rem;
}

.search_container h2 span {
	color: #fff;
	background: var(--gradient-primary);
	padding: 0.5rem 1.5rem;
	border-radius: 0.75rem;
	margin-left: 0.5rem;
}

.noposts {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.noposts p {
	color: var(--gray-color);
	margin-bottom: 2rem;
}

.noposts a,
.search_container a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	transition: 0.3s;
}

.noposts a svg,
.search_container a svg {
	transition: 0.3s;
	margin-left: 0.25rem;
}

.noposts a:hover svg,
.search_container a:hover svg {
	margin-left: 1rem;
	color: var(--primary-color);
}
